.presentation {
    padding: 8em 2em 0;
}

.presentation-header {
    text-align: left;
    font-size: 4em;
    font-weight: 600;
    margin-bottom: 0.2em;
}

.social-links {
    float: right;
    margin-top: -5px;
}

.social-links > .social-icon {
    height: 45px !important;
    width: 45px !important;
}

.social-links > .social-icon:not(:first-child) {
    margin-left: 8px !important;
}

.presentation-text p {
    margin: 0 0 1em;
    font-size: 1.6em;
    font-weight: 400;
    transition: color 300ms linear;
}

.presentation-text .highlighted {
    color: #00a79d;
}

.presentation-text a.highlighted {
    text-decoration: underline;
}

.presentation-text a.highlighted:hover {
    color: #006769;
}

.presentation-text.tldr p {
    color: rgba(0, 0, 0, 0.15);
}

.presentation .tldr-button.button {
    min-width: 210px;
    transition: background-color 300ms linear;
}

.presentation .tldr-button.button:hover {
    background-color: #cdcecf !important;
}

.presentation .tldr-button.active.button {
    background-color: #00a79d !important;
}

.presentation .tldr-button.active.button:hover {
    background-color: #009389 !important;
}

@media (max-width: 993px) {
    .presentation {
        padding-top: 2em;
    }

    .social-links {
        width: 100%;
        margin-bottom: 0.2em;
        float: none;
    }
}

@media (max-width: 645px) {
    .presentation {
        padding: 2em 0.5em;
    }

    .presentation-header {
        font-size: 3.2em;
    }

    .presentation-text {
        font-size: 0.9em;
    }
}
